body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(250deg,#0d0d0d,#281b31,#612e10);
    background-size: 180% 180%;
    animation: gradient-animation 16s ease infinite;
}
 /* Copied from animated gradient background generator */
@keyframes gradient-animation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

header{
    display: flex;
    justify-content:center;
    margin:24px auto;
    max-width: 1200px;
    background-color: #efe4e4;
    border-radius: 70px;
    height: 60px;
    
}

.navigation {
    display: flex;
}

header img {
    display: flex;
    align-self: center;
    width: 70px;
    height: 130px;
    padding-bottom: 10px;
    padding-right: 500px;
}

.navigation ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-top: 20px;
    padding-left: 10px;

}


.navigation a {
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.navigation a:hover {
    text-decoration: line-through #243030;
    color: #eb4f30;
}


#Home-Section{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 140px;
    color: #e9e4e4;
}



#intro h1 {
    display: flex;
    justify-self: center;
    font-size: 36px ;
    color: #e9e4e4;
}

#intro h2 {
    font-size: 60px;
    margin-top: 2px;
    background: linear-gradient(10deg, #f48530,#eb9a71,#eee9bc);
    background-clip: text;
    color: transparent;
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

#intro h2,p {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 20px;
}

#intro p {
    display: block;
    font-size: 20px;
}

.span {
    font-size: 22px;
    background: linear-gradient(10deg, #f48530,#eb9a71,#eee9bc);
    background-clip: text;
    color: transparent;
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}



.container{
    display: inline-block;
    padding-left: 130px;
}

/* Copied from Sitepoint */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.typedOut {
    overflow: hidden;
    border-right: .15em solid rgb(229, 159, 101);
    font-size: 1.6rem;
    width: 0;
    animation: typing 1s steps(20,end) forwards;
}

.introButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 40px;
}
.introButton button{
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
}
#ResumeButton{
    background-color: #eb7b30;
    font-size: 18px;
    padding: 20px 30px;
    color: #e9e4e4;
    border: 1px solid #e9e4e4;
    box-shadow: 0px 0px 5px #a7caca;
}

#Resume-link {
    color: #e9e4e4;
    text-decoration: none;
}

#ContactMeButton {
    background-color: #282524;
    font-size: 18px;
    padding: 20px 70px;
    color: #eb7b30;
    border: 1px solid #e9e4e4;
    box-shadow: 0px 0px 5px #a7caca;
}

#ContactMeButton:hover{
    font-size: 21px;
    box-shadow: 0 0 20px #e9e4e4;
}

#ResumeButton:hover{
    font-size: 21px;
    box-shadow: 0 0 20px #e9e4e4;
}
.autoShow {
    animation: text-appear both;
    animation-timeline: view() ;

}

/* Copied from CSSnippets */
@keyframes text-appear {  
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

#timelineContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timelineBox {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-left: 4px solid #a7caca;
}
#timelineContainer h1 {
    color: #f6f6f7;
    font-size: 45px;
    margin-top: 90px;
}
#timelineContainer h2 {
    display: flex;
    font-size: 33px;
    gap: 6px;
    margin-bottom: 20px;
    background: linear-gradient(10deg, #f48530,#eb9a71,#eee9bc);
    background-clip: text;
    color: transparent;
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}
.timelineContainer i {
    font-size: 40px;
}
.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: Garamond, serif;
    padding: 20px ;
    border: 1px solid rgba(255,255,255,0.2);
    height: 200px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.496);
    box-shadow: 2px 4px 3px #a7caca;
    backdrop-filter: blur(3px);
    border-radius: 50px;
    animation: text-appear both;
    animation-timeline: view() ;
}

.contentBox:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: #3e3a67;
    border-radius: 50%;
    left: -48px;
    top: 30px;
}

.contentBox h3 {
    font-size: 25px;
    margin-top: 10px;
}

.contentBox p {
    margin: 0%;
    padding: 0%;
    font-size: 18px;
    font-family: 'Times New Roman', serif;
    font-weight: 200;
}

.contentBox:hover {
    box-shadow: 0px 15px 15px  #a7caca ;
}

.date {
    display: flex;
    font-size: 29px;
    font-weight: 800;
    gap: 10px;
    margin-top: 20px;
}
.date i {
    font-size: 28px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.skillsContainer h1 {
    font-size: 40px;
    color: #e9e4e4;
    margin-top: 90px;
}

#skill-title {
    background: linear-gradient(10deg, #f48530,#eb9a71,#eee9bc);
    background-clip: text;
    color: transparent;
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.skillsBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skillContent {
    width: 35em;
}
.skillName {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #efe4e4;
}

.skill-group-one {
    display: flex;
    gap: 40px;
}

.skill-group-two {
    display: flex;
    gap: 40px;
}

#SQL {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.completeContainer {
    box-sizing: border-box;
    background-color: #d0cedd;
    border-radius: 40px;
}

.completeness {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: #dc905d;
    border-radius: 40px;
    font-size: 23px;
    font-weight: 700;
    padding-right: 10px;
    animation: completeShow 1s forwards;
    animation-timeline: view();
}

@keyframes completeShow {
    from {
        width: 20%;
    }
    to {
        width: 1;
    }
}

#html {
    width: 500px;
} 

#CSS {
    width: 400px;
}

#js {
    width: 350px;
}

#Python {
    width: 300px;
}

#sql {
    width: 230px;
}

.projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    animation: text-appear both;
    animation-timeline: view() ;
}

.projectsContainer h1 {
    margin-top: 90px;
    font-size: 40px;
    color: #e9e4e4;
}

.projectsContainer h2 {
    font-size: 30px;
    color: #dddde3;
    margin-bottom: 60px;
}

#project-subtitle {
    color: #dc905d;
}

.projectContent {
    background-color: rgba(255, 251, 251, 0.575);
    box-shadow: 0px 0px 15px #a7caca;
    border-radius: 50px;
    height: 500px;
    width: 570px;
}

.projectContent:hover {
    box-shadow: 0px 0px 25px  #a7caca ;
}

.projectContent img{
    height: 300px;
    width: 500px;
    border-radius: 40px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.projectContent h3 {
    text-align: center;
    font-size: 26px;
}
.projectContent p{
    text-align: center;
    font-size: 23px;
    font-family: 'Times New Roman', serif;
    font-weight: 200;
}

.ContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ContactContainer h1{
    font-size: 40px;
    margin-top: 90px;
    color: #dfdeeb;
}
.ContactContainer h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 45px;
    color: #d0cedd;
}

#Contact-subtitle {
    background: linear-gradient(10deg, #f48530,#eb9a71,#eee9bc);
    background-clip: text;
    color: transparent;
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.form {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, alpha0.2);
    background: rgba(255, 255, 255, 0.593);
    background-color: rgba(255, 251, 251, 0.575);
    box-shadow: 0px 0px 15px #a7caca;
}

.form:hover {
    box-shadow: 0px 0px 25px  #a7caca ;
}

.contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.contactForm input {
    margin: 30px;
    padding: 20px;
    border-radius: 50px;
    background-color: #484443;
    font-size: 18px;
    border: 2px solid #dc905d;
    box-shadow: 0px 0px 5px #dc905d;
}

textarea {
    margin: 30px;
    padding-bottom: 140px;
    border-radius: 50px;
    background-color: #484443;
    font-size: 18px;
    border: 2px solid #dc905d;
    box-shadow: 0px 0px 5px #dc905d;
}

textarea::placeholder {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}


#email-button {
    background-color: #d68855;
    font-size: 18px;
    padding: 20px;
    color: #e9e4e4;
    border: 1px solid #e9e4e4;
    box-shadow: 0px 0px 5px #a7caca;
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
}



.ContactContainer h3 {
    margin-top: 160px;
    font-size: 30px;
    color: #d0cedd;
    text-shadow: 0 0 2px #dc905d;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:24px auto;
    max-width: 1200px;
    background-color: #efe4e4;
    border-radius: 70px;
    height: 98px;
    
}

footer i {
    font-size: 26px;

}

footer p {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #222222;
    margin-bottom: 20px;

}

.social i {
    font-size: 40px;
    margin-top: 30px;
}

.social:hover {
    font-size: 45px;
}


























